# Build- und Cache-Ordner ignorieren
app/__pycache__/
app/upload/
app/upload/*
app/logs/
app/build/
app/dist/
releases/

# PyInstaller & kompiliertes Python
*.spec
*.dll
*.so
*.dylib
*.pyd

# Virtuelle Umgebung ignorieren (falls vorhanden)
app/.venv/
app/.env/
app/.idea/
app/.vscode/

# Zertifikate und sensible Dateien
app/*.pem
*.crt
*.key

# Sonstiges (Windows & macOS Systemdateien)
#Desktop.ini
Thumbs.db
.DS_Store

# .exe-Dateien überall ignorieren...
*.exe

# Custom:
*kopie*
gitcopy.bat

# IDE
.vscode/
