# Build- und Cache-Ordner ignorieren
.dev/__pycache__/
.dev/upload/
.dev/logs/
.dev/build/
.dev/dist/

# PyInstaller & kompiliertes Python
*.spec
#*.exe
*.dll
*.so
*.dylib
*.pyd

# Virtuelle Umgebung ignorieren (falls vorhanden)
.dev/.venv/
.dev/.env/
.dev/.idea/
.dev/.vscode/

# Zertifikate und sensible Dateien
.dev/*.pem
*.crt
*.key

# Sonstiges (Windows & macOS Systemdateien)
Desktop.ini
Thumbs.db
.DS_Store

# .exe-Dateien überall ignorieren...
*.exe

# ... außer im .dev/Output/ Verzeichnis (Ausnahme!)
!./Output/
!./Output/*
